link(rel="stylesheet", href="backbone-ui-min.css")

#main

script(src="jquery.js")
script(src="underscore-min.js")
script(src="backbone-min.js")
script(src="laconic.js")
script(src="moment.min.js")
script(src="backbone-ui-min.js")
script(src="app.js")
